*~
*.swp
*.pyc
*-journal

/djangobmf/static/djangobmf/js/bootstrap\.min\.js
/djangobmf/static/djangobmf/js/djangobmf\.js
/djangobmf/static/djangobmf/js/jquery\.cookie\.min\.js

/\.tox
/\.coverage*
/build
/coverage\.xml
/database\.sqlite
/dist
/junit\.xml
/static
/reports
/node_modules
/static_files/build
/htmlcov
/django_bmf\.egg-info
/virtenv
/docs/build
/sandbox/static/
/sandbox/local_settings.py
