{% load i18n djangobmf_markup %}
<h1>{% trans "Product" %}: {{ object.name }}
    {% if object.code %}<small>{{ object.code }}</small>{% endif %}
</h1>
<ol class="breadcrumb">
    <li>{{ object.get_type_display }}</li>
    {% if object.can_sold %}<li>{% trans "sellable" %}</li>{% endif %}
    {% if object.can_purchased %}<li>{% trans "purchaseable" %}</li>{% endif %}
</ol>
<div class="row">
    <div class="col-lg-7">
        <div class="jumbotron text-right">
            <span class="h1">
                {{ calc_net }}
                {{ object.price_currency }}<br>
                <small>
                    {{ calc_gross }}
                    {{ object.price_currency }}
                </small>
            </span>
        </div>
    </div>
    <div class="col-lg-5">
        <h3>{% trans "Description" %}</h3>
        {{ object.description|bmfmarkup }}
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>{% trans "Income" %}</h3>
        <p>
            <a href="{{ object.income_account.bmfmodule_detail }}">{{ object.income_account }}</a>
        </p>
    </div>
    <div class="col-sm-6">
        <h3>{% trans "Expense account" %}</h3>
        <p>
            <a href="{{ object.expense_account.bmfmodule_detail }}">{{ object.expense_account }}</a>
        </p>
    </div>
</div>
