{% load i18n djangobmf_angularjs %}{% spaceless %}
<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th width="40%">{% trans "#Bill" %}</th>
            <th width="40%">{% trans "Date" %}</th>
            <th width="20%">{% trans "Completed" %}</th>
        </tr>
    </thead>
    <tbody>
    {% verbatim %}
        <tr ng-repeat="obj in data" class="''">
            <td>
                <a bmf-detail="{{ obj.pk }}" href="#">{{ obj.bill_no }}</a>
            </td>
            <td>{{ obj.date }}</td>
            <td>{{ obj.completed }}</td>
        </tr>
    {% endverbatim %}
    </tbody>
</table>
{% endspaceless %}
