{% extends "djangobmf_task/task_bmflist.html" %}
{% load i18n djangobmf_angularjs %}

{% block related_tfoot %}{% spaceless %}
<tfoot ng-if="scopename=='related'">
  <tr>
    <td colspan="3" class="text-right">
      <a class="btn btn-xs bmf-edit btn-success" bmf-form="create" href="{% url "djangobmf:moduleapi_djangobmf_task_task:create" "default" %}?data[goal]={% ng "parent_object.pk" %}&amp;data[project]={% ng "parent_object.project" %}">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </td>
  </tr>
</tfoot>
{% endspaceless %}{% endblock %}
